<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <h2>Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Параметр next для перенаправления на главную страницу после входа -->
        <input type="hidden" name="next" value="{% url 'home' %}">
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</body>
</html>