.block-about {
    position: relative;
    margin-bottom: 500px;
}

.back-left {
    background-color: black;
    position: fixed;
    z-index: -1;
    width: 500px;
    height: 100vh;
}

.back-right {
    background-color: rgb(228, 228, 228);
    position: fixed;
    z-index: -1;
    width: 1000px;
    height: 100vh;
}

.back-about {
    width: 1912px;
    height: 956px;
    
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
}

.dev-info {
    width: 990px;
    height: 600px;
    margin-top: 190px;

    position: absolute;
    z-index: -1;
}

.about-form {
    width: 990px;
    height: 600px;
    margin-top: 160px;
    padding: 0 50px;

    position: absolute;
}

.info-abt-img {
    width: 1000px;
    height: 850px;
    margin-top: 105px;

    position: absolute;
    z-index: -1;
}

.info-abt {
    width: 1000px;
    height: 840px;
    margin-top: 150px;

    position: absolute;
    z-index: -1;
}

.b {
    background-color: rgb(255, 255, 255);
}

.f-abt {
    margin-left: 50px;
}

.nav-about {
    width: 300px;
    height: 150px;
    background-color: rgb(0, 0, 0);

    border-radius: 15px;
    margin-top: 300px;
    margin-left: 20px;
}

.link-abt {
    font-size: large;
    font-size: 17px;
    color:rgb(255, 255, 255);
}
